.login-form {
    width: 100%;
    background: none;
}
.logo {
    margin: 30px 50px;
}
.login-form input {
    background: transparent none repeat scroll 0 0 !important;
    color: #ffffff !important;
}
.login-form button {
    background: #ffffff !important;
    color: #000000 !important;
}
.login-form input:-ms-input-placeholder{
    color: #ffffff
}
.login-form input::-webkit-input-placeholder{
    color: #ffffff
}
.login-form input::-moz-placeholder {
    color: #ffffff
}

.tab-pane > .box, .tab-pane .box.box-info {
    border-top: 0px;
    border-left: 1px solid #e7eaec;
    border-right: 1px solid #e7eaec;
}

.select2-container .select2-dropdown {
    position: relative;
    z-index: 2050;
}